<div class="container" id="bioContainer">
<div class="row">
  <div class="col-12" >
    <img src="../../assets/RGabbert - bus portrait - white.jpg" class="image"/>
<p id="textBox">My name is Ryan Gabbert. I am a junior software developer. I graduated from the University of Dayton in May of 2017 with a Bachelors degree in History. After graduating I began working at an Indianapolis based start-up company Deck LLC. I worked as the CLient Success Manager there until May 2018 when I enrolled in Eleven Fifty Academy's JavaScript Bootcamp. After graduating from there in August 2018 I took over all front-end development for Deck. I enjoy hiking, reading, and playing soccer in my free time. </p>
<div class="buttons">
<button mat-button id="workBtn"> My Work</button>
<button mat-button id="contactBtn"> Contact Me</button>
<button mat-button id="resumeBtn">View My Resume</button>
<button mat-button id="linkedinBtn">LinkedIn</button>
</div>
  </div>
</div>
</div>